
@{
    ViewBag.Title = "新建CNC任务";
}

<style>
    #tb_TaskList td{
        padding-left:0px;
        padding-right:0px;
        margin-left:0px;
        margin-right:0px;
    }

    #PD_DivT{
        /*width:2000px;*/
        /*min-width:100%;*/
        /*border:1px red solid;*/
        /*max-height:30px;*/
        overflow-x:auto;
        display:inline-block !important;
        display:inline;
        height:10%;
        overflow:hidden!important;
        border:1px black solid;
        border-style:none none solid none;
        min-width:100%;        
    }
    #PD_DivC {
        min-width: 100%;
        height: 88%;
        overflow-x: hidden;
        overflow-y: auto; 
        /*border-style:solid solid none solid*/       
    }
    #PD_DivT p{
        width:300px;
        float:left;
        margin:0px;
        padding:0px;
        margin-left:2px;
        margin-top:2px;
        border:1px black solid;
        line-height:30px;
        border-style:none solid none solid;
        background-color:yellow;
    }
    #PD_DivC div{
        width:300px;
        float:left;
        border:1px black solid;
        margin-left:2px;
        border-style:solid solid none solid;
        min-height:1px;
    }
    #PD_DivC p{
        width:300px;
        float:left;
        margin:0px;
        padding:0px;
        border:1px black solid;
        line-height:24px;
        border-style:none none solid none;
        text-indent:5px;
    }
    #div_left{
        /*margin-top:30px;*/
        border:1px black solid;
        height:90%;
        border-style:solid none solid solid;
    }
    #div_left p{
        line-height:30px;
        margin:0px;
        padding:0px;

    }
    #div_mid{
        border:1px black solid;
        height:90%;
    }
    #div_right{
        border:1px black solid;
        height:90%;
        border-style:solid solid solid none;
    }
</style>

<div class="col-sm-12" style="position:absolute;top:60px;left:0px;right:0px;bottom:0px;">
    <h2>新增CNC加工任务</h2>
    <h4 id="GRIDURL"></h4>

    <div id="div_left" class="col-sm-2">
        <p>任务类型</p>
        <select id="TaskType" class="form-control">
            <option value="1">电极任务</option>
            <option value="4">铣铁任务</option>
        </select>
        <p>选择模具号</p>
        <input type="text" id="Keyword" class="form-control" />
        <select id="MoldList" class="form-control" size="20"></select>

        @*<table style="width:100%;">
            <tr>
                <td>任务类型</td>
            </tr>
            <tr>
                <td>
                    <select id="TaskType" class="form-control">
                        <option value="1">电极任务</option>
                        <option value="4">铣铁任务</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>选择模具号</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="Keyword" class="form-control" />
                </td>
            </tr>
            <tr>
                <td style="background-color:red;"> 
                    <select id="MoldList" class="form-control" size="20"></select>
                </td>
            </tr>
        </table>*@
    </div>
    <div id="div_mid" class="col-sm-7">
        <div style="height:60%">
            <table id="TaskGrid"></table>  
        </div>
              

        <input id="PD_CNum" value="0" hidden />
        @*加工对象信息*@
        <div style="height:40%;">
            <div style="height:10%;">
                <label>加工对象信息</label>
            </div>
            <div style="height:90%;overflow-y:hidden!important;">
                <div style="height:100%!important;width:100%;border:1px black solid;height:auto;overflow:auto;overflow-y: auto;border-style:solid solid none solid;">
                    <div id="PD_DivT">
                    </div>
                    <div id="PD_DivC">
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div id="div_right" class="col-sm-2">

        <table id="tb_TaskList" class="col-sm-12">
            @*<tr>
                    <td><button id="AddSelected" class="btn btn-primary">添加选中任务</button></td>
                    <td><button id="RemoveSelected" class="btn btn-primary">移除选中任务</button></td>
                </tr>*@
            <tr>
                <td></td>
                <td colspan="2" class="col-sm-10"><label>新任务名称</label></td>
            </tr>
            <tr>
                <td class="col-sm-1">
                    <button id="AddSelected" class="btn btn-success"><span class="glyphicon glyphicon-chevron-right"></span></button>

                    <button id="RemoveSelected" class="btn btn-danger" style="margin-top:5px;"><span class="glyphicon glyphicon-chevron-left"></span></button>
                </td>
                <td class="col-sm-9" colspan="2">
                    <select size="16" id="TaskList" class="form-control" multiple></select>
                </td>
            </tr>
            <tr class="Spec_DJTaskReAdd">
                <td></td>
                <td class="col-sm-5"><label>粗电极个数</label></td>
                <td class="col-sm-5"><input type="number" min="0" class="form-control" id="RCount" value="0" style="margin-top:5px;" disabled /> </td>
            </tr>
            <tr class="Spec_DJTaskReAdd">
                <td></td>
                <td class="col-sm-5"><label>精电极个数</label></td>
                <td class="col-sm-5"><input type="number" min="0" class="form-control" id="FCount" value="0" style="margin-top:5px;margin-bottom:5px;" disabled /> </td>
            </tr>
            <tr>
                <td></td>
                <td class="col-sm-5"></td>
                <td class="col-sm-5"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2" class="col-sm-10">
                    <button id="SaveTasks" class="btn btn-success" style="width:100%;margin-top:5px;" disabled><span class="glyphicon glyphicon-plus"></span> 新建任务</button>
                </td>
            </tr>
        </table>
    </div>
</div>



@*<input type="hidden" id="TaskIDs" Name="TaskIDs" value="" />
<input type="hidden" id="rCount" name="RCount" value="0" />
<input type="hidden" id="fCount" name="fCount" value="0" />*@
<input type="text" id="taskListIndex"  value="0" hidden/>

<script>
    $("document").ready(function () {

        TaskRecreateGrid(0, 1, true);

        LoadMolds('', '');

        $("#Keyword").on("keyup", function () {
            LoadMolds($("#Keyword").val(), $('#MoldList').val());
        })

        $("#MoldList").on("change", function () {
            LoadTasks();
            ClearJGObjTb();
            $("#EleList option").remove();
        })

        $("#TaskType").on("change", function () {
            //更新模号列表
            LoadMolds($("#Keyword").val(), $('#MoldList').val());
            ////初始化
            var _moldnum = $("#MoldList").val();
            if (_moldnum != null) {
                //更新任务列表
                LoadTasks();
            } else {
                //清空任务列表
                $('#TaskGrid').jqGrid("clearGridData");
            }
            //清空电极信息
            $("#EleList option").remove();
            //初始化粗精电极数量
            $('#RCount').val(0);
            $('#FCount').val(0);
            $('#RCount').attr('disabled', 'disabled');
            $('#FCount').attr('disabled', 'disabled');
            //清空选中任务列表
            $('#TaskList option').remove();
            //Spec_DJTaskReAdd
            if ($('#TaskType').val() == 1) {
                $('.Spec_DJTaskReAdd').show();
            } else {
                $('.Spec_DJTaskReAdd').hide();
            }
            //
            ClearJGObjTb();
        })        
    })
    function LoadMolds(Keyword, CurrentVal) {
        $("#MoldList option").remove();
        var _url = "/Task/GetMoldNumberList?State=1&CAM=0&TaskType=" + $('#TaskType').val() + "&Keyword=" + Keyword;
        $.ajaxSettings.async = false;//同步
        $.getJSON(_url, function (msg) {
            $.each(msg, function (i, n) {
                var _val = $.trim(n);
                if (_val != "") {
                    if (CurrentVal == _val) {
                        $("#MoldList").append($("<option/>", {
                            text: _val,
                            value: _val,
                            selected: true
                        }))
                    } else {
                        $("#MoldList").append($("<option/>", {
                            text: _val,
                            value: _val
                        }))
                    }

                }
            })
        })
    }

    function LoadTasks() {
        var _moldnumber = $("#MoldList option:selected").val();
        var _taskType = $("#TaskType option:selected").val();
        //$("#TaskGrid").jqGrid("setGridParam", { url: "" }).trigger('reloadGrid');
        //alert("Reload");
        $("#TaskGrid").jqGrid("setGridParam", { datatype: "json", url: "/Task/Service_Task_GetFinishedTaskJson?MoldNumber=" + _moldnumber + "&TaskType=" + _taskType }).trigger("reloadGrid");//加工历史
    }

    function LoadEleDetail(TaskID, TaskName) {
        var _tasktype = Number($('#TaskType').val());
        if (_tasktype == 1) {
            //PD_CNum
            var _num = Number($('#PD_CNum').val());
            if (TaskID != undefined) {
                //操作判断
                var _tid = TaskName + 'T';
                var _cid = TaskName + 'C';
                var Nwidth = 306;
                var _dom = document.getElementById(_tid);
                var _width;
                if (_dom == null || _dom == undefined) {
                    _num = _num + 1;
                    //更新外部 Div 宽度
                    $('#PD_DivT').width(Nwidth * _num);
                    $('#PD_DivC').width(Nwidth * _num);
                    //填充内容
                    var _thtml = '<p id=' + _tid + '>' + TaskName + '</p>';
                    $('#PD_DivT').append(_thtml);
                    var _chtml = '<div id=' + _cid + '>';
                    $.getJSON("/Task/JsonCNCItems?TaskID=" + TaskID, function (msg) {
                        $.each(msg, function (i, n) {
                            _chtml = _chtml + '<p>' + n.LabelName + '</p>'
                        });
                        _chtml = _chtml + '</div>';
                    });
                    $('#PD_DivC').append(_chtml);
                } else {
                    //更新外部 Div 宽度
                    //更新外部 Div 宽度
                    $('#PD_DivT').width(Nwidth * _num);
                    $('#PD_DivC').width(Nwidth * _num);
                    //移除内容
                    $('#' + _tid).remove();
                    $('#' + _cid).remove();
                    _num = _num - 1;
                }
                $('#PD_CNum').val(_num);
            }
        }
        
    }

    function ClearJGObjTb() {
        $('#PD_DivT').empty();
        $('#PD_DivC').empty();
    }
</script>

<script>
    $(document).ready(function () {
        var _taskObj = { taskID: 0, taskName: '', R: 0, F: 0,RZero:false,FZero:false };
        var _taskObjArry = [];
        $('#AddSelected').on('click', function () {
            $('#SaveTasks').removeAttr('disabled');
        });
        $("#AddSelected").on("click", function () {
            var _ids = GetMultiSelectedIDs("TaskGrid");
            var _names = GetMultiSelectedCell("TaskGrid", "TaskName")

            if (_ids != "") {
                var _ID = _ids.split(",");
                var _Name = _names.split(",");

                for (i = 0; i < _ID.length; i++) {
                    var _item = $("#TaskList option[value='" + _ID[i] + "']");
                    var _AddtaskObj = {};
                    if (_item.length == 0) {
                        $("#TaskList").append($("<option>", {
                            value: _ID[i],
                            text: _Name[i]
                        }));
                        _AddtaskObj.taskID = Number(_ID[i]);
                        _AddtaskObj.taskName = _Name[i];
                        _AddtaskObj.RZero = false;
                        _AddtaskObj.FZero = false;
                        $.ajaxSettings.async = false;

                        var _taskType = Number($('#TaskType').val());
                        if (_taskType == 1) {
                            $.get('/Task/JsonTaskBasic?TaskID=' + _ID[i], function (res) {
                                //RCount FCount
                                if (res.TaskType == 1) {
                                    _AddtaskObj.R = res.R;
                                    if (res.R == 0) {
                                        _AddtaskObj.RZero = true;
                                    }
                                    _AddtaskObj.F = res.F;
                                    if (res.F == 0) {
                                        _AddtaskObj.FZero = true;
                                    }
                                }
                            });
                        } else{
                            _AddtaskObj.R = 0;
                            _AddtaskObj.F = 0;
                        }
                        
                        console.log(_taskObjArry.length);
                        console.log(_AddtaskObj);
                        _taskObjArry[_taskObjArry.length] = _AddtaskObj;
                    }
                }
            }
        });

        $("#RemoveSelected").on("click", function () {
            var optionObj = $('#TaskList option');
            if (optionObj.length <= 0) {
                $('#SaveTasks').attr('disabled', 'disabled');
            }
            var _sel = $('#TaskList option:selected')[0];
            if (_sel != null) {
                var _tListindex = $('#taskListIndex').val();
                _taskObjArry.splice(_tListindex, 1);
                console.log(_taskObjArry);
                //
                $("#TaskList option:selected").remove();
            } else {
                alert('请选择需要移的任务！');
            }           
        })
        $('#TaskList').on('click', function () {
            var _sel = $('#TaskList option:selected')[0];
            //初始化文本框
            $('#RCount').val('');
            $('#FCount').val('');
            $('#RCount').attr('disabled', 'disabled');
            $('#FCount').attr('disabled', 'disabled');
            //判断数组是否有
            var _isContain = false;
            if (_sel != null) {
                var _Objindex = 0;
                $.each(_taskObjArry, function (i, n) {
                    if (n.taskID == _sel.value) {
                        _isContain = true;
                        _Objindex = i;
                        console.log(n);
                        console.log(i);
                    }
                });
                if (_isContain) {
                    $('#taskListIndex').val(_Objindex);
                    _taskObj = _taskObjArry[_Objindex];                    
                    if (!_taskObj.RZero) {
                        $('#RCount').val(_taskObj.R); 
                        $('#RCount').removeAttr('disabled');
                    } else {
                        $('#RCount').val(0);
                    }
                    if (!_taskObj.FZero) {
                        $('#FCount').val(_taskObj.F); 
                        $('#FCount').removeAttr('disabled');
                    } else {
                        $('#FCount').val(0);
                    }

                } else {
                    //延时执行
                    window.setTimeout(UptDJQty, 300);
                }
            }
        });

        //输入事件监听
        $('#RCount').bind('input propertychange', function () {
            var _tListindex = $('#taskListIndex').val();
            _taskObjArry[Number(_tListindex)].R = Number($('#RCount').val());
            console.log(_taskObjArry[Number(_tListindex)]);
        });
        $('#FCount').bind('input propertychange', function () {
            var _tListindex = $('#taskListIndex').val();
            console.log(Number($('#FCount').val()));
            console.log(_taskObjArry[Number(_tListindex)]);
            _taskObjArry[Number(_tListindex)].F = Number($('#FCount').val());
            //console.log(_taskObjArry[Number(_tListindex)]);
        });

        //新建任务
        $("#SaveTasks").on("click", function () {
            $('#SaveTasks').attr('disabled', 'disabled');
            var _ids = "";
            var _taskType = Number($('#TaskType').val());
            //$("#TaskList option").each(function () {
            //    var txt = $(this).val();
            //    _ids = _ids == "" ? txt : _ids + "," + txt;
            //});
            //$("#TaskIDs").val(_ids);
            //$("#rCount").val($("#RCount").val());
            //$("#fCount").val($("#FCount").val());
            if (_taskType == 1) {
                var error = '';
                $.each(_taskObjArry, function (i, n) {
                    if ((n.R <= 0 && n.F <= 0) || n.R < 0 || n.F < 0) {
                        error = error + '[' + n.taskName + ']';
                        //alert('验证失败:请检查任务[' + n.taskName + '] 粗/精电极数量！');
                        //return false;
                    }
                });
                if (error != '') {
                    alert('验证失败:请检查任务' + error + ' 粗/精电极数量！');
                    $('#SaveTasks').removeAttr('disabled');
                    return false;
                }
            }
            var error = '';            
            $.each(_taskObjArry, function (i, n) {
                var _url = "/Task/ReaddCNCTask?TaskIDs=" + n.taskID + "&RCount=" + n.R + "&FCount=" + n.F + '&TaskType=' + _taskType;                
                $.ajax({
                    url: _url,
                    type: "Get",
                    dataType: "html",
                    success: function (msg) {
                        if (msg == "") {
                            //alert("任务创建完成");
                        } else {
                            error = error + msg;
                            //alert("以下电极任务粗/精电极数量都为0,无法创建新加工任务\r\n" + msg);
                        }
                        $('#RCount').attr('disabled', 'disabled');
                        $('#FCount').attr('disabled', 'disabled');
                        $('#RCount').val(0);
                        $('#FCount').val(0);
                    }
                });
            });
            if (error != '') {
                alert('以下电极任务['+error+'] 粗/精电极数量都为0,无法创建新加工任务') ;
            } else {
                alert('新建成功！');
            }
            TaskListInitial();
        })
    })
    function UptDJQty() {
        var _seltaskList = $('#TaskList option:selected')[0];
        $.ajaxSettings.async = false;
        $.get('/Task/JsonTaskBasic?TaskID=' + _seltaskList.value, function (res) {
            //RCount FCount
            if (res.TaskType == 1) {
                var _rcount = res.R;
                var _fcount = res.F;
                $('#RCount').val(_rcount);
                $('#FCount').val(_fcount);
                if (_rcount > 0) {
                    $('#RCount').removeAttr('disabled');
                } else {
                    $('#RCount').attr('disabled', 'disabled');
                }
                if (_fcount > 0) {

                    $('#FCount').removeAttr('disabled');
                } else {
                    $('#FCount').attr('disabled', 'disabled');
                }
            } else {
                $('#RCount').val(0);
                $('#FCount').val(0);
            }
        })
    };
    function TaskListInitial() {
        $('#TaskList').empty();
        $('#SaveTasks').attr('disabled', 'disabled');
        _taskObjArry = [];
    };
</script>