
@{
    ViewBag.Title = "新建EDM任务";
}
<style>
    .AddEDMTask_FatherDiv{
        position:absolute;
        top:100px;
        right:10px;
        left:10px;
        bottom:10px;
    }
    .AddEDMTask_LeftDiv{
        position:absolute;
        left:0px;
        width:10%;
        height:100%;
        
    }
    .AddEDMTask_RightDiv{
        position:absolute;
        left:10%;
        right:0px;
        height:100%; 
    }

    .AddEDMTask_LeftDiv_Sel {
        position: absolute;
        left: 0px;
        top: 5%;
        bottom: 0px;
        width: 100%;
    }

    option {
        font-size: 16px;
        padding: 2px;
        cursor: pointer;
        width: 100% !important;
    }

    option:hover {
        background-color: rgba(0,0,0,0.1);
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }

    .AddEDMTask_Right_TopDiv{
        position: absolute;
        top: 0px;
        height:5%;
        width: 100%;
    }
    .AddEDMTask_Right_MidDiv{
        position: absolute;
        top: 5%;
        height:40%;
        width: 100%;
        border:1px solid rgba(0,0,0,0.1);
    }
    .AddEDMTask_Right_BottomDiv{
        position: absolute;
        top: 45%;
        bottom:0px;
        width: 100%;
    }

    .AddEDMTask_Right_Bottom_LeftDiv{
        position: absolute;
        height:100%;
        left:0px;
        width:33%;
        border:1px solid rgba(0,0,0,0.1);
    }
    .AddEDMTask_Right_Bottom_MiddleDiv{
        position: absolute;
        height:100%;
        left:33%;
        width:33%;
        border:1px solid rgba(0,0,0,0.1);
    }
    .AddEDMTask_Right_Bottom_RightDiv{
        position: absolute;height:100%;
        left:66%;
        right:0px;
        border:1px solid rgba(0,0,0,0.1);
    }
    .AddEDMTask_Right_TopDivTable{
        height:100%;
    }
    .AddEDMTask_Right_TopDivTable td{
        vertical-align:bottom;
        font-weight:bold;
    }
    .AddEDMTask_Right_Bottom_LeftDiv_Sel{
        position: absolute;
        left: 0px;
        top: 5%;
        bottom: 0px;
        width: 100%;
    }
    .AddEDMTask_Right_Bottom_MiddleDiv_Sel{
        position: absolute;
        left: 0px;
        top: 5%;
        bottom: 0px;
        width: 100%;
    }
    .AddEDMTask_Right_Bottom_RightDiv_Sel{
        position: absolute;
        left: 0px;
        top: 5%;
        bottom: 0px;
        width: 100%;
    }
</style>
<div class="hidden">
    @using (Html.BeginForm("ReaddEDMTask", "Task", FormMethod.Post, new { id = "AAA" }))
    {
        <input type="hidden" id="OldTaskID" name="OldTaskID">
        <input type="hidden" id="TaskName" name="TaskName" />
        <input type="hidden" id="Version" name="Version" />
        <input type="hidden" id="EleDetail" name="EleDetail" />
        <input type="hidden" id="CADDetail" name="CADDetail" />
        <input type="hidden" id="TaskMemo" name="Memo" />
        <input type="hidden" id="TaskPriority" name="Priority" />
    }
    <input id="TaskType" value="2" hidden />
</div>

<div style="margin-top:60px;">
    <h2>添加EDM加工任务</h2>
</div>

<div class="AddEDMTask_FatherDiv">
    <div class="AddEDMTask_LeftDiv">
        <input type="text" id="Keyword" class="form-control" style="width:100%;height:5%;"/>
        <select id="MoldList" class="form-control AddEDMTask_LeftDiv_Sel" size="10"></select>
    </div>
    <div class="AddEDMTask_RightDiv">
        <div class="AddEDMTask_Right_TopDiv">
            <table class="AddEDMTask_Right_TopDivTable">
                <tr>
                    <td>
                        优先级
                    </td>
                    <td>
                        <select id="Priority" class="form-control" style="height:100%">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>
                        备注
                    </td>
                    <td>
                        <select id="Memo" name="Memo" class="form-control" style="height:100%">
                            <option>此次任务为修烧焊</option>
                            <option>此次任务为修尺寸</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-success" id="CreateEDM" style="height:100%"><span class="glyphicon glyphicon-plus"></span> 创建EDM任务</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="AddEDMTask_Right_MidDiv">
            <table id="TaskGrid"></table>
        </div>
        <div class="AddEDMTask_Right_BottomDiv">
            <div class="AddEDMTask_Right_Bottom_LeftDiv">
                <label>电极任务</label>
                <select id="AvailableElectrodeList" class="form-control AddEDMTask_Right_Bottom_LeftDiv_Sel" size="10"></select>
            </div>
            <div class="AddEDMTask_Right_Bottom_MiddleDiv">
                <label>电极标签</label>
                <select id="SelectedElectrodeList" class="form-control AddEDMTask_Right_Bottom_MiddleDiv_Sel" size="10"></select>
            </div>
            <div class="AddEDMTask_Right_Bottom_RightDiv">
                <label>工件</label>
                <select id="ItemList" size="3" class="form-control AddEDMTask_Right_Bottom_RightDiv_Sel" multiple></select>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Task.js"></script>
<script>
    $("document").ready(function () {
        $(window).resize(function () {
            $('#TaskGrid').setGridWidth($('.AddEDMTask_Right_MidDiv').eq(0).width());
            $('#TaskGrid').setGridHeight($('.AddEDMTask_Right_MidDiv').eq(0).height() - 40);
        })
        TaskRecreateGrid(0, 2, true);

        $("#Keyword").on("keyup", function () {
            LoadMolds($("#Keyword").val());
        })

        $("#MoldList").on("change", function () {
            var _moldNumber = $("#MoldList option:selected").val();
            $("#AvailableElectrodeList option").remove();
            $("#SelectedElectrodeList option").remove();
            $("#ItemList option").remove();
            LoadTasks();
        })
        
        $("#CreateEDM").on("click", function(){
            var _taskName = GetCellContent("TaskGrid", "TaskName");
            var _version = GetCellContent("TaskGrid", "Version");
            var _oldID =  GetCellContent("TaskGrid", "ID");
            if (_taskName != undefined) {
                $("#TaskName").val(_taskName);
                $("#Version").val(_version);

                var _eleDetail = GetEleList();
                var _cadDetail = GetCADList();
                if ((_eleDetail != "") && (_cadDetail != "")) {
                    $("#OldTaskID") .val( _oldID);
                    $("#EleDetail").val(_eleDetail);
                    $("#CADDetail").val(_cadDetail);
                    $("#TaskMemo").val($("#Memo option:selected").val());
                    $("#TaskPriority").val($("#Priority option:selected").val());
                    $("#AAA").submit();
                } else {
                    alert("需要加工的电极或工件总数不能为0");
                }
                
            } else {
                alert("请先选择要生成的任务");
            }
        })

        $('#AvailableElectrodeList').on('change', function () {
            $("#SelectedElectrodeList option").remove();
            var eleTaskName = $('#AvailableElectrodeList').val();
            $.get('/Task/Service_Ele_GetCncItemsByEle?eleTaskName=' + eleTaskName, function (res) {
                $.each(res, function (i, n) {
                    $('#SelectedElectrodeList').append($("<option/>", {
                        text: n.LabelName,
                        value: n.CNCItemID
                    }))
                })
            })
        });
        LoadMolds("");
    })


    function LoadMolds(Keyword) {
        $("#MoldList option").remove();
        var _url = "/Task/GetMoldNumberList?State=1&CAM=0&TaskType=" + $('#TaskType').val() + "&Keyword=" + Keyword;
        $.ajaxSettings.async = false;//同步
        $.getJSON(_url, function (msg) {
            $.each(msg, function (i, n) {
                var _val = $.trim(n);
                if (_val != "") {
                    $("#MoldList").append($("<option/>", {
                        text: _val,
                        value: _val
                    }))
                }
            })
        });
    }

    function GetEleList() {
        var result = "";
        $("#AvailableElectrodeList option").each(function () {
            var _item = $(this).text();

            result = result == "" ? _item : result + ";" + _item;
        })
        return result;
    }

    function GetCADList() {
        var result = "";
        $("#ItemList option").each(function () {
            var _item = $(this).text();
            result = result == "" ? _item : result + ";" + _item;
        })
        return result;
    }

    function LoadTasks() {
        var _moldnumber = $("#MoldList option:selected").val();
        var _taskType = $("#TaskType").val();
        $("#TaskGrid").jqGrid("setGridParam", { datatype: "json", url: "/Task/Service_Task_GetFinishedTaskJson?MoldNumber=" + _moldnumber + "&TaskType=" + _taskType }).trigger("reloadGrid");//加工历史
    }
</script>



