
@{
    ViewBag.Title = "电极确认";
}

<div class="col-sm-12" style="margin-top:10px">
    <h2>电极确认 </h2>
    <div class="col-sm-12">
        <ul class="nav nav-pills">
            <li class="dropdown all-camera-dropdown">
                <button class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">
                    @if (ViewBag.Status == 5)
                    {
                        @:CNC返修
                    }
                    else if (ViewBag.Status == 4)
                    {
                        @:合格
                    }
                    else if(ViewBag.Status==6)
                    {
                        @:有条件利用
                    }
                    
                    <b class="caret"></b>
                </button>
                    <ul class="dropdown-menu">
                        <li role="presentation">
                            <a href="/Task/GetEleQCResult?Status=6">有条件利用</a>
                        </li>
                        <li role="presentation">
                            <a href="/Task/GetEleQCResult?Status=4">合格</a>
                        </li>
                        <li role="presentation">
                            <a href="/Task/GetEleQCResult?Status=5">CNC返修</a>
                        </li>
                    </ul>
            </li>
            <li>
                <button class="btn btn-primary" id="Search">关键字搜索</button>
            </li>
        </ul>
            @*<select id="ItemStatus" class="form-control">
                <option value="10">有条件利用</option>
                <option value="5">CNC返修</option>
            </select>*@
</div>
    <div class="col-sm-12">
        <table id="ElectrodeGrid"></table>
    </div>
</div>

<div class="modal" data-backdrop="static" data-keyboard="false" id="EleCompensationDialog" tabindex="-1" role="dialog" aria-labelledby="EleCompensationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="EleCompensationLabel">电极确认</h4>
            </div>
            <div class="modal-body">
                    <table class="table-striped col-sm-12">
                        
                        <tr>
                            <td class="col-sm-4"><label>电极名称</label></td>
                            <td>
                                <input type="text" id="LabelName" class="form-control" readonly />
                                <input type="hidden" id="CNCItemID" name="CNCItemID" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-4"><label>结论</label></td>
                            <td>
                                <select id="Result" name="Result" class="form-control">
                                    <option value="true">可以利用</option>
                                    <option value="false">不合格</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-4"><label>火花间隙</label></td>
                            <td><input type="number" id="GapCompensation" name="GapCompensation" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td class="col-sm-4"><label>高度间隙</label></td>
                            <td><input type="number" id="ZCompensation" name="ZCompensation" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td class="col-sm-4"><label>检测报告</label></td>
                            <td><a href="" id="ReportLink" target="_blank"><img id="ReportPic" src="" style="width:400px" /></a></td>
                        </tr>
                    </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="SaveElectrode" class="btn btn-primary">保存</button>
                @*<button type="button" id="test" class="btn btn-primary">保存</button>*@
            </div>
        </div>
    </div>
</div>


<div class="modal" data-backdrop="static" data-keyboard="false" id="SearchDialog" tabindex="-1" role="dialog" aria-labelledby="SearchLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="SearchLabel">电极查询</h4>
            </div>
            <div class="modal-body">
                <table class="col-sm-12">
                    <tr>
                        <td class="col-sm-4"><label>关键字</label></td>
                        <td>
                            <input type="text" id="Keyword" class="form-control" />
                            <input type="hidden" id="Status" value="@ViewBag.Status" />
                        </td>
                    </tr>
                    
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="SearchElectrode" class="btn btn-primary">查询</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/JqGridTemplate.js"></script>
<script src="~/Scripts/Task.js"></script>
<script>
    $("document").ready(function () {
        ElectrodeQCResult(@ViewBag.Status,"@ViewBag.Keyword")


        $("#ItemStatus").on("change", function(){
            location.href = "/Task/GetEleQCResult?Status=" + $("#Status").val();
        })

        $("#SearchElectrode").on("click", function(){
            location.href="/Task/GetEleQCResult?Status=" + $("#Status").val()+"&Keyword="+$("#Keyword").val();
        })

        $("#Search").on("click", function(){
            $("#SearchDialog").modal("show");
        })


        //$("#test").on("click", function(){
        //    //$("#ReportPic").attr("src","/Images/arrow-left.png" );

        //    var _id = $("#CNCItemID").val();
        //    var _url = "/Task/JsonQCReport?CNCItemID=" + _id
        //    $.ajax({
        //        url: _url,
        //        type: "Get",
        //        dataType: "html",
        //        success: function (msg) {
        //            alert(msg);
        //        }

        //    })
        //})
    })
</script>


