
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoRegister</title>
</head>
<body>
    <div> 
        在系统中没有找到您的信息，请与系统管理员联系
    </div>
</body>
</html>
