/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;   
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 5px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.main .page-header {
  margin-top: 0;
}

.invalidefield{
    border-color:#fa5252;
    border-width:2px;
}

.required{
    background-color:#fffec9;
}

.HiddenMessage{
    display:none;
}

.late{
    color:red;
}

.PRInfo{
    background-color:#fffde4;
    border:1px solid;
    margin:3px;
    border-color:#fbf727;
    border-radius:5px;
    padding-left:15px;
}

.deleteItem{
    color:#ddd;
}


.pdfTable{
    border-right:1px solid;
    border-bottom:1px solid; 
    width:1000px;
}

.pdfTable td{
    border-left:1px solid;
    border-top:1px solid;
    padding:4px;
}


.pdfTable thead tr{
    height:50px;
}

.ui-jqgrid tr.jqgrow td {
white-space: normal !important;
height:auto;
vertical-align:text-top;
padding-top:2px;
}


.ManualPart{
    background-color:#fffec9;
}

/*.table td { 

text-align: center; 

height:38px;

}*/


    td[role='gridcell'] {
        font-size: 11px;
    }

/*tr:nth-child(even)[role='row']{
    background-color:#eeeeee;
}*/


.inPageList{
    padding:10px;
    font-size:12px;
}

.jqgrow:nth-child(even){
    background-color:#eeeeee;
}

h2 {
line-height:30px;
}