@{
    ViewBag.Title = "归属部门管理";
}

@{
    int DeptID = 0;
    try
    {
        DeptID = Convert.ToInt32(Request.Cookies["User"]["Department"]);
    }
    catch
    {
        DeptID = 0;
    }
}

<div>

</div>
<div style="margin-top:60px;">
    <h2>@ViewBag.Title</h2>
</div>

<div class="BaseData_FatherDiv">
    <div class="BaseData_LeftDiv">
        <div class="panel panel-info">
            <div class="panel-heading" style="height:40px;"><h3 class="panel-title">归属部门列表</h3></div>
            <div class="panel-body" style="padding:0px!important;">
                <div>
                    <select class="form-control" id="CostCenterList"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="BaseData_RightDiv">
        <div class="BaseData_Right_ToolbarDiv">
            <table style="margin-left:20px;">
                @if (DeptID == 4)
                {
                    <tr>
                        <td>
                            <button class="btn btn-success" id="NewCostCenter"><span class="glyphicon glyphicon-plus"></span> 新建</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" id="DeleteCostCenter"><span class="glyphicon glyphicon-trash"></span> 删除</button>
                        </td>
                    </tr>
                }
                
            </table>
        </div>
        <div class="BaseData_Right_TableDiv">
            <div class="BaseData_Right_FormDiv">
                <table class="table table-striped" style="text-align:center;vertical-align:central;">
                    <colgroup><col width="20%" /><col width="80%" /></colgroup>
                    <tr>
                        <td><label>归属部门代码</label></td>
                        <td>
                            <input type="text" class="form-control" id="DepCode" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td><label>归属部门名称</label></td>
                        <td>
                            <input type="text" class="form-control" id="Name" disabled />
                            <input type="hidden" id="CostCenterID" />
                        </td>
                    </tr>
                    @if (DeptID == 4)
                    {
                        <tr>
                            <td colspan="2"><button id="SaveCostCenter" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-pencil"></span> 保存</button></td>
                        </tr>
                    }
                    
                </table>
            </div>

        </div>
    </div>
</div>

<script>
    $("document").ready(function () {
        var _listRows = 20;
        $("#CostCenterList").attr("size", _listRows);

        LoadCostCenters("");

        $("#Keyword").on("keyup", function () {
            LoadCostCenters($("#Keyword").val());
        })

        $("#CostCenterList").on("change", function () {          
            //$("#Name").val($("#CostCenterList option:selected").text());
            var centername = $("#CostCenterList option:selected").text();
            $.ajax({
                type: 'get',
                url: '/Purchase/GetDepCode?Name=' + centername,
                data: {},
                success: function (result) {
                    $("#Name").removeAttr("disabled", false);
                    $("#DepCode").removeAttr("disabled", false);
                    $("#Name").val(result.Name);
                    $("#DepCode").val(result.DepCode);
                }
            })
            $("#CostCenterID").val($("#CostCenterList option:selected").val());
        })

        $("#SaveCostCenter").on("click", function () {
            SaveCostCenter();
        })

        $("#NewCostCenter").on("click", function () {
            $("#Name").removeAttr("disabled", false);
            $("#Name").val("");
            $("#DepCode").removeAttr("disabled", false);
            $("#DepCode").val("");
            $("#CostCenterID").val(0);
        })

        $("#DeleteCostCenter").on("click", function () {
            DeleteCostCenter();
        })

    })
    

    function LoadCostCenters(Keyword) {
        if (Keyword == undefined) {
            Keyword = "";
        }
        var _url = "/Purchase/JsonCostCenters?Keyword=" + Keyword;
        $("#CostCenterList option").remove();
        $.ajax({
            type: "Get",
            url: _url,
            success: function (msg) {
                $.each(msg, function (i, n) {
                    $("#CostCenterList").append($("<option/>", {
                        value: n.CostCenterID,
                        text: n.Name
                    }))
                })
            }
        })
    }

    function SaveCostCenter() {
        var _url = "/Purchase/GetCostCenter?Name=" + $("#Name").val();
        $.ajax({
            type: "Get",
            url: _url,
            success: function (msg) {
                var _count = Number(msg);
                if ((_count > 0) && ($("#CostCenterID").val() == 0)) {
                    alert("归属部门已存在");
                } else {
                    _url = "/Purchase/SaveCostCenter?Name=" + $("#Name").val() + "&CostCenterID=" + $("#CostCenterID").val() + "&DepCode=" + $("#DepCode").val();
                    $.ajax({
                        type: "Post",
                        url: _url,
                        success: function (msg) {
                            //alert("保存完成")
                            $("#Name").attr('disabled', 'disabled');
                            $("#Name").val("");
                            $("#DepCode").attr('disabled', 'disabled');
                            $("#DepCode").val("");
                            LoadCostCenters("");
                        }
                    })
                }
            }
        })

    }

    function DeleteCostCenter() {
        if (($("#CostCenterID").val() == "") || ($("#CostCID").val() == 0)) {
            alert("请选择一个归属部门");
        } else {
            if (confirm("确认删除归属部门" + $("#Name").val() + "?")) {
                var _url = "/Purchase/DeleteCostCenter?CostCenterID=" + $("#CostCenterID").val();
                $.ajax({
                    type: "Get",
                    url: _url,
                    success: function () {
                        //alert("删除成功");
                        $("#Name").attr('disabled', 'disabled');
                        $("#Name").val("");
                        $("#DepCode").attr('disabled', 'disabled');
                        $("#DepCode").val("");
                        LoadCostCenters("");
                    }
                })
            }
        }
    }

</script>