
@{
    ViewBag.Title = "POReport";
}
<style>
    tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>
<div style="margin-top:10px">

    <div class="col-sm-12">
        @*<table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>*@
        <h2>订单记录查询</h2>
        <ul class="nav nav-pills">
            <li><label>开始日期</label></li>
            <li class="col-sm-2">
                <input type="date"  id="StartDate" class="form-control"/>
            </li>
            <li><label>结束日期</label></li>
            <li class="col-sm-2">
                <input type="date" id="EndDate" class="form-control"/>
            </li>
            <li><button class="btn btn-primary" id="GetReport">查询</button></li>
        </ul>

        <table id="POReport"></table>
        <div id="jqGridPager"></div>

    </div>
</div>
<script>
    $(function () {
        PurchaseOrderReport($("#StartDate").val(), $("#EndDate").val())
        $("#GetReport").on("click", function () {
            var startdate = '';
            var enddate = ''
            var _url = "/Purchase/JsonPOReport"
            if (($("#StartDate").val() == undefined) || ($("#StartDate").val() == '')) {
                alert("请选择开始日期");
                return false;
            } else {                
                startdate = $("#StartDate").val();
                _url = _url + "?StartDate=" + startdate;
            }
            if (($("#EndDate").val() == undefined) || ($("#EndDate").val() == '')) {
                enddate = '';
            } else {
                enddate = $("#EndDate").val();
            }
            _url = _url + "&EndDate=" + enddate;
            $("#POReport").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
        })
    })
    
</script>
