
@{
    ViewBag.Title = "对账记录";
}
<style>
    tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>

<h2 style="margin-top:60px">订单对账查询</h2>
<div class="UD_FatherDiv">
    <div class="UD_ToolBarDiv">
        <table>
            <tr>
                <td style="font-weight:bold;">开始日期(.从)</td>
                <td><input type="date" id="StartDate" class="form-control" /></td>
                <td style="font-weight:bold;">结束日期(.到)</td>
                <td><input type="date" id="EndDate" class="form-control" /></td>
                <td><button class="btn btn-info" id="GetReport"><span class="glyphicon glyphicon-search"></span> 查询</button></td>
                <td><button class="btn btn-primary" id="CatchPDReport"><span class="glyphicon glyphicon-share-alt"></span> 导出</button></td>
            </tr>
        </table>
    </div>
    <div class="UD_TableDiv">
        <table id="POReport"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script>
    $(function () {

        $(window).resize(function () {
            $("#POReport").setGridWidth($('.UD_TableDiv').eq(0).width());
            $("#POReport").setGridHeight($('.UD_TableDiv').eq(0).height() - 40);
        });

        PurchaseOrderReport($("#StartDate").val(), $("#EndDate").val());
        //报表数据源
        $("#GetReport").on("click", function () {
            var startdate = '';
            var enddate = ''
            var _url = "/Purchase/JsonPOReport"
            if (($("#StartDate").val() == undefined) || ($("#StartDate").val() == '')) {
                alert("请选择开始日期");
                return false;
            } else {
                startdate = $("#StartDate").val();
                _url = _url + "?StartDate=" + startdate;
            }
            if (($("#EndDate").val() == undefined) || ($("#EndDate").val() == '')) {
                enddate = '';
            } else {
                enddate = $("#EndDate").val();
            }
            _url = _url + "&EndDate=" + enddate;
            $("#POReport").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
        })
        //导出报表
        $('#CatchPDReport').on('click', function () {
            var startdate = '';
            var enddate = ''
            var _url = "@Url.Action("Service_CatchPDExcel", "Purchase")";
            if (($("#StartDate").val() == undefined) || ($("#StartDate").val() == '')) {
                alert("请选择开始日期");
                return false;
            } else {
                startdate = $("#StartDate").val();
                _url = _url + "?StartDate=" + startdate;
            }
            if (($("#EndDate").val() == undefined) || ($("#EndDate").val() == '')) {
                enddate = '';
            } else {
                enddate = $("#EndDate").val();
            }
            _url = _url + "&EndDate=" + enddate;
            location.href = _url;
        })
    })

</script>
