@{
    int DeptID;
    try
    {
        DeptID = Convert.ToInt16(Request.Cookies["User"]["Department"]);
    }
    catch
    {
        DeptID = 0;
    }
    ViewBag.Title = "采购记录查询报表";
}

<div class="hidden">
    <input id="depID" value="@DeptID" hidden />
    <input type="hidden" id="MoldNumber" />
</div>

<h2 style="margin-top:60px">采购记录查询报表</h2>
<div class="FatherDiv">
    <div class="LeftDiv">
        <button class="btn btn-primary LeftDiv_Btn" id="RefreshMold">刷新模号列表</button>
        <input type="text" id="Keyword" class="form-control LeftDiv_Inpt" placeholder="模具号关键字" />
        <select class="form-control LeftDiv_Sel" id="MoldSelect" size="3"></select>
    </div>
    <div class="RightDiv">
        <div class="RightDiv_TopDiv">
            <table>
                <tr>
                    <td style="font-weight:bold;">
                        预警：
                    </td>
                    <td>
                        <input type="checkbox" id="planDateDelayStatus" style="width:30px;height:30px;margin-right:10px;"/>
                    </td>
                    <td style="font-weight:bold;">
                        创建时间(.从)
                    </td>
                    <td style="width:200px">
                        <input id="dateFr" type="date" class="form-control" />
                    </td>
                    <td style="font-weight:bold;">
                        创建时间(.到)
                    </td>
                    <td style="width:200px">
                        <input id="dateTo" type="date" class="form-control" />
                    </td>
                    <td style="width:200px">
                        <input type="text" class="form-control" id="ItemKeyword" placeholder="PO号/零件名/物料号/规格" style="width:400px;" />
                    </td>
                    <td style="width:400px">
                        <button class="btn btn-info" id="Query"><span class="glyphicon glyphicon-search"></span> 查询</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="RightDiv_BottomDiv">
            <table id="PurchaseItemGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>

@*采购计划调整记录*@
<div id="dialog" title="采购计划调整记录" hidden>
    <table id="tb_PlanChangeRecord"></table>
</div>

<script src="~/Scripts/JqGridTemplate.js"></script>
<script src="~/Scripts/Purchase.js"></script>
<script src="~/Scripts/jquery.ba-throttle-debounce.js"></script>
<script>
    $("document").ready(function () {

        $(window).resize(function () {
            $("#PurchaseItemGrid").setGridWidth($('.RightDiv_BottomDiv').eq(0).width());
            $("#PurchaseItemGrid").setGridHeight($('.RightDiv_BottomDiv').eq(0).height() - 40);
        });

        LoadMoldNumber("");

        PurchaseItem("","", @ViewBag.State);

        @if ((ViewBag.State==10)||(ViewBag.State==40) || (ViewBag.State == 0))
        {
            @:ShowPOCol();
                }

        $("#Keyword").on("keyup", function () {
            LoadMoldNumber($("#Keyword").val());
        });

        $("#MoldSelect").on("change", function () {
            $('#ItemKeyword').val('');
            $("#MoldNumber").val($("#MoldSelect option:selected").val());
            var checked=$('#planDateDelayStatus')[0].checked;
            //console.log(checked);
            QueryPurchaseitem($("#ItemKeyword").val(), $("#MoldNumber").val(),String($('#dateFr').val()),String($('#dateTo').val()),checked);
        });

        $("#Query").on("click", function () {
            //console.log($('#dateFr').val());
            //console.log($('#dateTo').val());
            var checked=$('#planDateDelayStatus')[0].checked;
            QueryPurchaseitem($("#ItemKeyword").val(), $("#MoldNumber").val(),String($('#dateFr').val()),String($('#dateTo').val()),checked);
        });

        $("#PurchaseItemGrid").setGridParam().showHideCol("ShipDate");

        $('#planDateDelayStatus').on('change',function(){
            var checked=this.checked;
            //console.log(checked);
            QueryPurchaseitem($("#ItemKeyword").val(), $("#MoldNumber").val(),String($('#dateFr').val()),String($('#dateTo').val()),checked);
            //if(checked){
                
            //}
        })
    })

    function LoadMoldNumber(Keyword) {
        var _url = "/Purchase/Service_Json_PORepotForQuery_MoldNum";
        if (Keyword != "") {
            _url = _url + "?Keyword=" + Keyword;
        }
        $("#MoldSelect option").remove();
        $.ajaxSettings.async=false;
        $.getJSON(_url, function (msg) {
            if(msg.length>0){
                $("#MoldSelect").append($("<option/>",{
                    value:"ALL",
                    text:"ALL"
                }))
            }
            $.each(msg, function (i, n) {
                $("#MoldSelect").append($("<option/>",{
                    value:n,
                    text:n
                }))
            })
        })
    }

    function ShowPOCol(){
        $("#PurchaseItemGrid").setGridParam().showHideCol("QuotationRequest");
        $("#PurchaseItemGrid").setGridParam().showHideCol("PurchaseOrder");
        $("#PurchaseItemGrid").setGridParam().showHideCol("Supplier");
        $("#PurchaseItemGrid").setGridParam().showHideCol("InStockQty");
        @if (ViewBag.State == 40)
        {
            @:$("#PurchaseItemGrid").setGridParam().showHideCol("OutStockQty");
                }

        @if ((ViewBag.State == 10)||(ViewBag.State==40))
        {
            @:$("#PurchaseItemGrid").setGridParam().showHideCol("PlanDate");
                    @:$("#PurchaseItemGrid").setGridParam().showHideCol("DeliveryDate");
                }
        @if ((ViewBag.State == 0))
        {
            @:$("#PurchaseItemGrid").setGridParam().showHideCol("OutStockQty");
            @:$("#PurchaseItemGrid").setGridParam().showHideCol("PlanDate");
                    @:$("#PurchaseItemGrid").setGridParam().showHideCol("DeliveryDate");
                }

        $("#PurchaseItemGrid").setGridParam().showHideCol("UnitPrice");
        $("#PurchaseItemGrid").setGridParam().showHideCol("TotalPrice");
        $("#PurchaseItemGrid").setGridParam().showHideCol("TotalPriceWT");
        $("#PurchaseItemGrid").setGridParam().showHideCol("UnitPriceWT");
    }
</script>
<script>
    $(function(){
        //调整计划到货日期记录表
        PlanChangeRecordGrid();

        @if (ViewBag.State == 10)
        {
            @:$("#PurchaseItemGrid").setGridParam().showHideCol("PlanAJDate");
                }

    })

    function QueryPurchaseitem(Keyword, MoldNumber,dateFr,dateTo,isDelay) {
        var _condition='';
        var _url = "/Purchase/Service_Json_PORepotForQuery?MoldNumber=" + $("#MoldNumber").val()
            + "&Keyword=" + Keyword+'&isDelay='+String(isDelay);

        if(dateFr!=''){
            _condition=_condition+'&dateFr='+dateFr;
        }
        if(dateTo!=''){
            _condition=_condition+'&dateTo='+dateTo;
        }
        _url=_url+_condition
        $("#PurchaseItemGrid").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
    };  
    function ReLoadPlanChangeRecordGrid(purItemID){
        var _url='/Purchase/Service_GetPurItemChangeDateRecords?PurchaseRequestID='+purItemID;
        $("#tb_PlanChangeRecord").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
        $("#dialog").dialog({
            height: 300,
            width:400,
        });
    }
</script>
