@{
    int DeptID;
    try
    {
        DeptID = Convert.ToInt16(Request.Cookies["User"]["Department"]);
    }
    catch
    {
        DeptID = 0;
    }
}
<style>
    #PurchaseItemGrid td {
        margin: 0px !important;
        padding: 0px !important;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        /*position:absolute;*/
    }

    #PurchaseItemGrid input {
        height: 24px;
        border-style: none;
        outline: none;
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }
    .ui-tooltip table {
        border:1px rgba(0,0,0,0.1) solid;
        border-collapse:collapse;
    }
    /*.ui-tooltip tr:nth-child(odd) {
        background-color:rgba(0,0,0,0.2);
    }
    .ui-tooltip tr:nth-child(even) {
        background-color:rgba(0,0,0,0.4);
    }*/
    .ui-tooltip {
        box-shadow:5px 5px 5px rgba(0,0,0,0.1)!important;
        border-style:none!important;
        background-color:rgba(240,255,255,0.9)!important;
        padding:0px!important;
    }
    .ui-tooltip td {
        border:1px rgba(0,0,0,0.1) solid;
        text-align:center;
        width:300px;
        font-size:10px;
        height:26px;
    }
    .ui-tooltip th {
        border:1px rgba(0,0,0,0.1) solid;
        text-align:center;
        width:300px;
        font-size:10px;
        font-weight:normal!important;
        height:26px;
        background-color:rgba(0,0,0,0.1);
    }
    .Lab_PlanAJDate {
        display:block;
        width:100%;
        line-height:100%;
        font-weight:normal!important;
    }

</style>

<h2 style="margin-top:60px;">@ViewBag.Title</h2>
<div class="FatherDiv">
    <div class="LeftDiv">
        <input id="depID" value="@DeptID" hidden />
        <button class="btn btn-primary LeftDiv_Btn" id="RefreshMold">刷新模号列表</button>
        <input type="text" id="Keyword" class="form-control LeftDiv_Inpt" placeholder="模具号关键字" />
        <select class="form-control LeftDiv_Sel" id="MoldSelect" size="3"></select>
        <input type="hidden" id="MoldNumber" />  
    </div>
    <div class="RightDiv">
        <div class="RightDiv_TopDiv">
            <table>
                <tr>
                    <td style="width:200px!important;">
                        <select id="PurchaseType" class="form-control" style="width:200px;"></select>
                    </td>
                    <td style="width:200px!important;">
                        <select id="SemiPurchaseType" class="form-control" style="width:200px;"></select>
                    </td>
                    <td style="width:200px!important;">
                        <input type="text" class="form-control" id="ItemKeyword" placeholder="采购项 零件名/物料号/规格" style="width:400px;" />
                    </td>
                    <td style="width:400px!important;">
                        <button class="btn btn-primary" id="Query">查询</button>
                        @if ((ViewBag.State == 30) && (DeptID == 4))
                        {
                            <button class="btn btn-primary" id="Quotation">开始询价</button>
                            <button class="btn btn-primary" id="PruchaseOrder" disabled>创建订单</button>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="RightDiv_BottomDiv">
            <table id="PurchaseItemGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>

@*采购计划调整记录*@
<div id="dialog" title="采购计划调整记录"  hidden>
    <table id="tb_PlanChangeRecord"></table>
</div>

<script src="~/Scripts/JqGridTemplate.js"></script>
<script src="~/Scripts/Purchase.js"></script>
<script src="~/Scripts/jquery.ba-throttle-debounce.js"></script>
<script>
    $("document").ready(function () {

        LoadMoldNumber("")

        @*@if (ViewBag.State == 30)
        {
            @:LoadPurchaseType();
        }*@

        PurchaseItem("","", @ViewBag.State);
        @if ((ViewBag.State==10)||(ViewBag.State==40) || (ViewBag.State == 0))
        {
            @:ShowPOCol();
                        }
        else
        {
                    @:$("#PurchaseItemGrid").setGridWidth(document.body.clientWidth * 0.75);
                }

        $("#Keyword").on("keyup", function () {
            LoadMoldNumber($("#Keyword").val());
        })

        $("#MoldSelect").on("change", function () {
            $('#ItemKeyword').val('');
            console.log($("#MoldSelect option:selected").val());
            $("#MoldNumber").val($("#MoldSelect option:selected").val());
            console.log($("#MoldNumber").val());
            QueryPurchaseitem("", $("#MoldNumber").val());
        })

        $("#Query").on("click", function () {
            QueryPurchaseitem($("#ItemKeyword").val(), $("#MoldNumber").val());
        })

        $("#Quotation").on("click", function(){
            StartQuotation();
        })

        //$("#PurchaseType").on("change", function(){
        //    var _purchaseTypeID = $('#PurchaseType').val();
        //    var _url = "/Purchase/GetPurchaseTypeInfo?PurchaseTypeID="+_purchaseTypeID;
        //    $.getJSON(_url, function (msg) {
        //        if (msg.ParentTypeID == 0) {
        //            $('#PruchaseOrder').attr('disabled', 'disabled');
        //        } else {
        //            $('#PruchaseOrder').removeAttr('disabled');
        //        }
        //    });
        //    QueryPurchaseitem($("#ItemKeyword").val(), $("#MoldNumber").val());
        //})

        $("#PruchaseOrder").on("click", function(){
            var _ids = GetMultiSelectedIDs("PurchaseItemGrid");

            var _url = "/Purchase/SelectPOContent?";
            var _condition = ""

            if($("#ItemKeyword").val()==""){
                _condition="Keyword="+$("#MoldSelect").val()+"&PurchaseType="+$("#PurchaseType").val()+"&PurchaseItemIDs="+_ids;
            }else{
                _condition="Keyword="+$("#ItemKeyword").val()+"&PurchaseType="+$("#PurchaseType").val()+"&PurchaseItemIDs="+_ids;
            }
            location.href=_url+_condition;

        })
        $("#PurchaseItemGrid").setGridParam().showHideCol("ShipDate");
    })


    function LoadMoldNumber(Keyword) {
        var _url = "/Purchase/JsonMoldNumber?State=@ViewBag.State";
        if (Keyword != "") {
            _url = _url + "&Keyword=" + Keyword;
        }
        $("#MoldSelect option").remove();
        $.ajaxSettings.async=false;
        $.getJSON(_url, function (msg) {
            if(msg.length>0){
                $("#MoldSelect").append($("<option/>",{
                    value:"ALL",
                    text:"ALL"
                }))
            }
            $.each(msg, function (i, n) {
                $("#MoldSelect").append($("<option/>",{
                    value:n,
                    text:n
                }))
            })
        })
    }
    function ShowPOCol(){
        $("#PurchaseItemGrid").setGridParam().showHideCol("QuotationRequest");
        $("#PurchaseItemGrid").setGridParam().showHideCol("PurchaseOrder");
        $("#PurchaseItemGrid").setGridParam().showHideCol("Supplier");
        $("#PurchaseItemGrid").setGridParam().showHideCol("InStockQty");
        @if (ViewBag.State == 40)
        {
            @:$("#PurchaseItemGrid").setGridParam().showHideCol("OutStockQty");
                        }

        @if ((ViewBag.State == 10)||(ViewBag.State==40))
        {
            @:$("#PurchaseItemGrid").setGridParam().showHideCol("PlanDate");
                            @:$("#PurchaseItemGrid").setGridParam().showHideCol("DeliveryDate");
                        }
        @if ((ViewBag.State == 0))
        {
            @:$("#PurchaseItemGrid").setGridParam().showHideCol("OutStockQty");
                    @:$("#PurchaseItemGrid").setGridParam().showHideCol("PlanDate");
                            @:$("#PurchaseItemGrid").setGridParam().showHideCol("DeliveryDate");
                        }

        //$("#PurchaseItemGrid").setGridWidth(document.body.clientWidth * 0.8);
    }

    function StartQuotation(){
        var ids= GetMultiSelectedIDs("PurchaseItemGrid");
        location.href="/Purchase/QRDetail?PurchaseItemIDs="+ids;
    }

    function LoadPurchaseType() {
        var _url = "/Purchase/JsonPurchaseTypes?ContainParent=true&TypeName=模具直接材料";
        $("#PurchaseType option").remove();
        $.getJSON(_url, function (msg) {
            $.each(msg, function (i, n) {
                var _name=n.Name;
                var _html;
                if(n.ParentTypeID>0){
                    _name='&nbsp;&nbsp;&nbsp;&nbsp;'+_name;
                }
                _html='<option value="'+n.PurchaseTypeID+'">'+_name+'</option>';
                //$("#PurchaseType").append($("<option/>", { value: n.PurchaseTypeID, text: _name}));
                $('#PurchaseType').append(_html);
            })
        })
    }
</script>
<script>
    $(function(){
        PlanChangeRecordGrid();

        @if (ViewBag.State == 10)
        {
            @:$("#PurchaseItemGrid").setGridParam().showHideCol("PlanAJDate");
                }

        LoadMainPurType();

        $('#PurchaseType').on('change',function(){
            LoadSemiPurType();
            QueryPurchaseitem($("#ItemKeyword").val(), $("#MoldNumber").val());
        });

        $('#SemiPurchaseType').on('change',function(){
            //LoadSemiPurType();
            QueryPurchaseitem($("#ItemKeyword").val(), $("#MoldNumber").val());
            var _url = "/Purchase/GetPurchaseTypeInfo?PurchaseTypeID="+$('#SemiPurchaseType').val();
            $.getJSON(_url, function (msg) {
                if (msg.ParentTypeID == 0) {
                    $('#PruchaseOrder').attr('disabled', 'disabled');
                } else {
                    $('#PruchaseOrder').removeAttr('disabled');
                }
            });
        });
    })

    function LoadMainPurType(){
        if(@ViewBag.State==30){
            $.get('/Purchase/Service_PurType_GetByName?TypeName=模具直接材料',function(res){
                $("#PurchaseType").append($("<option/>",{
                    value:res.PurchaseTypeID,
                    text:res.Name,
                }));
            })            
            LoadSemiPurType();
        }else{
            $.ajaxSettings.async=false;
            $.get('/Purchase/Service_PT_GetMainPurType',function(res){
                $.each(res,function(i,n){
                    $("#PurchaseType").append($("<option/>",{
                        value:n.PurchaseTypeID,
                        text:n.Name
                    }));
                    if(i==1){
                        LoadSemiPurType();
                    }
                });
                QueryPurchaseitem($("#ItemKeyword").val(), $("#MoldNumber").val());
            })
        }}
    function LoadSemiPurType(){
        $('#SemiPurchaseType').html('');
        var _mainType=$('#PurchaseType').val();
        $.ajaxSettings.async=false;
        $.get('/Purchase/JsonPurchaseTypeLevel?ParentID='+_mainType,function(res){
            $('#SemiPurchaseType').append($('<option/>',{
                value:_mainType,
                text:'-'
            }))
            $.each(res,function(i,n){
                $('#SemiPurchaseType').append($('<option/>',{
                    value:n.PurchaseTypeID,
                    text:n.Name
                }))
            })
        })
    }
    function QueryPurchaseitem(Keyword, MoldNumber) {
        var _url = "/Purchase/JsonPurchaseItems?MoldNumber=" + $("#MoldNumber").val()
            + "&Keyword=" + Keyword
            +"&State=@ViewBag.State"
            +"&PurchaseType="+$("#SemiPurchaseType").val();
        $("#PurchaseItemGrid").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
    };
    function ReLoadPlanChangeRecordGrid(purItemID){
        var _url='/Purchase/Service_GetPurItemChangeDateRecords?PurchaseRequestID='+purItemID;
        $("#tb_PlanChangeRecord").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
        $("#dialog").dialog({
            height: 300,
            width:400,
        });
    }
</script>
