@using TechnikSys.MoldManager.Domain.Entity;

@model IEnumerable<PurchaseType>



@{
    ViewBag.Title = "采购类型管理";

    int _deptID = 0;
    try
    {
        _deptID = Convert.ToInt32( Request.Cookies["User"]["Department"]);
    }
    catch
    {
        _deptID = 0;
    }
}

<div>

</div>
<div style="margin-top:60px;">
    <h2>采购类型管理</h2>
</div>
<div class="BaseData_FatherDiv">
    <div class="BaseData_LeftDiv">
        <div class="panel panel-info">
            <div class="panel-heading" style="height:40px;"><h3 class="panel-title">采购类型列表</h3></div>
            <div class="panel-body" style="padding:0px!important;">
                <div>
                    <select class="form-control BaseData_Left_Sel" id="PurchaseTypeList" size="3">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="BaseData_RightDiv">
        <div class="BaseData_Right_ToolbarDiv">
            <table style="margin-left:20px;">
                @if (_deptID == 4)
                {
                    <tr>
                        <td>
                            <button class="btn btn-success" id="NewType"><span class="glyphicon glyphicon-plus"></span> 新建</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" id="DeleteType"><span class="glyphicon glyphicon-trash"></span> 删除</button>
                        </td>
                    </tr>
                }
                
            </table>
        </div>
        <div class="BaseData_Right_TableDiv">
            <div class="BaseData_Right_FormDiv">
                <form id="SavePurchaseTypeForm">
                    <table class="table table-striped" style="text-align:center;vertical-align:central;">
                        <colgroup><col width="20%" /><col width="80%" /></colgroup>
                        <tr id="purType_ShortName" hidden>
                            <td class="col-sm-4"><label>代码</label></td>
                            <td class="col-sm-8">
                                <input type="text" id="ShortName" name="ShortName" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-4"><label>名称</label></td>
                            <td class="col-sm-8">
                                <input type="text" id="Name" name="Name" class="form-control" />
                                <input type="hidden" id="PurchaseTypeID" name="PurchaseTypeID" />
                                <input type="hidden" id="TaskType" name="TaskType" />
                                <input type="hidden" id="Enabled" name="Enabled" />
                            </td>
                        </tr>
                        <tr>
                            <td><label>上级类型</label></td>
                            <td>
                                <select id="ParentTypeID" class="form-control" name="ParentTypeID">
                                    <option value="0">-</option>
                                    @foreach (PurchaseType _type in Model)
                                    {
                                        <option value="@_type.PurchaseTypeID">@_type.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>默认采购周期（天）</label></td>
                            <td><input type="number" class="form-control" id="DefaultPeriod" name="DefaultPeriod" min="1" /></td>
                        </tr>
                        <tr id="purType_BelongDep" hidden>
                            <td colspan="2">
                                @*对应部门Radio*@
                                <table id="tb_purType_BelongDep"></table>
                            </td>
                        </tr>
                        @if (_deptID == 4)
                        {
                            <tr>
                                <td colspan="2"><button id="SaveType" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-pencil"></span> 保存</button></td>
                            </tr>
                        }
                        
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("document").ready(function () {
        LoadPurchaseTypeTree();

        $("#PurchaseTypeList").on("change", function () {
            LoadPurchaseType();
        })

        $("#SaveType").on("click", function () {
            SavePurchaseType();
        })

        $("#NewType").on("click", function () {
            ResetForm();
        })

        $("#DeleteType").on("click", function () {
            DeleteType();
        })
    })

    function LoadPurchaseTypeTree() {
        var _url = "/Purchase/JsonPurchaseTypeTree";
        $("#PurchaseTypeList option").remove();

        $.getJSON(_url, function (msg) {
            $.each(msg, function (i, n) {
                if (n.ParentTypeID == 0) {
                    $("#PurchaseTypeList").append($("<option/>", { value: n.PurchaseTypeID, text: n.Name }))
                } else {
                    $("#PurchaseTypeList").append($("<option/>", { value: n.PurchaseTypeID, text: '-'+ n.Name }))
                }
                
            })
        })
    }          

    function DeleteType() {
        var _url = "/Purchase/DeletePurchaseType?PurchaseTypeID=";
        var _id = $("#PurchaseTypeID").val();
        if (_id == "") {
            alert("请先选择要删除的采购类型");
        } else {
            if (confirm("确认删除采购类型?")) {
                _url = _url + _id;
                $.ajax({
                    url: _url,
                    type: "Get",
                    success: function (msg) {
                        if (msg == "") {
                            ResetForm();
                            LoadPurchaseTypeTree();
                            alert("采购类型删除成功")
                        } else {
                            alert(msg);
                        }
                    }
                })
            }
        }

    }
</script>

<script>
    $(document).ready(function () {
        LoadBelongDepChk();
    });

    function LoadBelongDepChk() {
        $.get('/Administrator/Service_GetDepartmentJson', function (res) {
            var _html = '';
            $.each(res, function (i, n) {
                var _quyu = Number(i % 6);
                if (_quyu == 0) {
                    _html = _html + '<tr>';
                }
                _html = _html + '<td><input type="checkbox" id="' + n.DepartmentID + '" /> &nbsp;<label>' + n.Name + '</label></td>';
                if (_quyu == 5) {
                    _html = _html + '</tr>';
                }
                //console.log(parseInt(i/6));// 取整
                console.log(_quyu);
            });
            $('#tb_purType_BelongDep').append(_html);
        })
    }

    function LoadPurchaseType() {
        ClearFormChkBox();
        var _purchaseTypeID = $("#PurchaseTypeList").val();
        var _url = "/Purchase/GetPurchaseTypeInfo?PurchaseTypeID=" + _purchaseTypeID;
        $.getJSON(_url, function (msg) {
            if (msg.ParentTypeID == 0) {
                $('#DeleteType').attr('disabled', 'disabled');
                $('#Name').attr('disabled', 'disabled');
                $('#ParentTypeID').attr('disabled', 'disabled');
                $('#purType_BelongDep').hide();
            } else {
                $('#DeleteType').removeAttr('disabled');
                $('#Name').removeAttr('disabled');
                $('#ParentTypeID').removeAttr('disabled');
                $('#purType_BelongDep').show();

                var _depArray = msg.DepID.split(',');
                for (var i = 0; i < _depArray.length; i++) {
                    if (_depArray[i] != 'all') {
                        //document.getElementById('TaskType_ELE').checked = false;
                        var _chk = document.getElementById(_depArray[i]);
                        if (_chk != null && _chk != undefined)
                            _chk.checked = true;
                    } else {
                        var _allcb = $("#SavePurchaseTypeForm :checkbox");
                        $.each(_allcb, function (i, n) {
                            var _id = n.id;
                            document.getElementById(_id).checked = true;
                        });
                        console.log(_depArray[i]);
                    }
                }
            }
            if (msg.ParentTypeID == 2) {
                //$('#purType_ShortName').show();
                $('#ShortName').val(msg.ShortName);
            } else {
                $('#purType_ShortName').hide();
            }
            $("#PurchaseTypeID").val(msg.PurchaseTypeID);
            $("#Name").val(msg.Name);
            $("#ParentTypeID").val(msg.ParentTypeID);
            $("#DefaultPeriod").val(msg.DefaultPeriod);
            $("#Enabled").val(msg.Enabled);

            //var _chkedInput = $("input:checked");
            //var _belongDep = '0';
            //var _belongDep = '0';
            //$.each(_chkedInput, function (i, n) {
            //    //console.log(n.id);
            //    _belongDep = _belongDep + ',' + n.id;
            //});
            //console.log(_belongDep);
            //console.log($('#Name').val());
            //console.log($('#ParentTypeID').val());
            //console.log($('#ShortName').val());
            //console.log($('#DefaultPeriod').val());
        })
    }

    function SavePurchaseType() {
        var _url = "/Purchase/SavePurchaseType";
        if ($("#Name").val() == "") {
            alert("类型名称不能为空")
            return false;
        }
        if (($("#DefaultPeriod").val() == "") || (Number($("#DefaultPeriod").val()) <= 0)) {
            alert("默认采购周期必须大于0");
            return false;
        }

        var _chkedInput = $("input:checked");
        var _belongDep = '0';
        $.each(_chkedInput, function (i, n) {
            //console.log(n.id);
            _belongDep = _belongDep + ',' + n.id;
        });
        var _postData = { 'PurchaseTypeID': $('#PurchaseTypeID').val(), 'Name': $('#Name').val(), 'ParentTypeID': $('#ParentTypeID').val(), 'ShortName': $('#ShortName').val(), 'DefaultPeriod': $('#DefaultPeriod').val(), 'DepID': _belongDep }
        $.ajax({
            url: _url,
            type: "Post",
            data: _postData,
            success: function (msg) {
                if (msg == "") {
                    alert("保存成功")
                    LoadPurchaseTypeTree();
                    ResetForm();
                } else {
                    alert(msg);
                }
            }
        })
        return false;
    }

    function ResetForm() {
        $('#DeleteType').removeAttr('disabled');
        $('#Name').removeAttr('disabled');
        $('#ParentTypeID').removeAttr('disabled');
        $("#SavePurchaseTypeForm :input").val("");

        ClearFormChkBox();
    }

    function ClearFormChkBox() {
        var _allcb = $("#SavePurchaseTypeForm :checkbox");
        $.each(_allcb, function (i, n) {
            var _id = n.id;
            document.getElementById(_id).checked = false;
        })
    }
</script>

