<div class="col-sm-1 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/Purchase/PurchaseItemList?State=30">待处理采购项</a></li>
        <li><a href="/Purchase/OutSourceItemList">待处理外发项</a></li>
        <li><a href="/Purchase">申请单维护</a></li>
        <li><a href="/Purchase/QuotationRequestList">询价单维护</a></li>
        <li><a href="/Purchase/PurchaseOrderList">订单维护</a></li>
        <li><a href="/Purchase/Suppliers">供应商信息</a></li>
        <li><a href="/Purchase/PurchaseItemList?State=10">在购零件清单</a></li>        
        <li><a href="/Purchase/PurchaseItemList?State=40">零件采购清单</a></li>
        <li><a href="/Purchase/PurchaseItemList">采购项查询</a></li>
    </ul>
</div>
