
@using TechnikSys.MoldManager.Domain.Entity;

@model IEnumerable<Department>
@{
    ViewBag.Title = "部门管理";
}

<div>
    
</div>
<div style="margin-top:60px;">
    <h2>部门管理</h2>
</div>

<div class="BaseData_FatherDiv">
    <div class="BaseData_LeftDiv">
        <div class="panel panel-info">
            <div class="panel-heading" style="height:40px;"><h3 class="panel-title">部门列表</h3></div>
            <div class="panel-body" style="padding:0px!important;">
                <div>
                    <select class="form-control BaseData_Left_Sel" id="DepartmentList" size="3">
                        @foreach (Department _dept in Model)
                        {
                            <option value="@_dept.DepartmentID">@_dept.Name</option>
                        }

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="BaseData_RightDiv">
        <div class="BaseData_Right_ToolbarDiv">
            <table style="margin-left:20px;">
                <tr>
                    <td>
                        <button class="btn btn-success" id="CreateDept"><span class="glyphicon glyphicon-plus"></span> 新建</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" id="DeleteDept"><span class="glyphicon glyphicon-trash"></span> 删除</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" id="ShowDepPhase"><span class="glyphicon glyphicon-list"></span> 部门-项目阶段</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="BaseData_Right_TableDiv">
            <div class="BaseData_Right_FormDiv">
                @using (Html.BeginForm("DepartmentSave", "Administrator", FormMethod.Post, new { id = "SaveDepartmentForm" }))
                {
                    <table class="table table-striped" style="text-align:center;vertical-align:central;">
                        <colgroup><col width="20%" /><col width="80%" /></colgroup>
                        <tr>
                            <td><label>部门名称</label></td>
                            <td>
                                <input type="hidden" id="DepartmentID" name="DepartmentID" />
                                <input type="hidden" id="Enabled" name="Enabled" value="true" />
                                <input type="text" maxlength="20" id="Name" name="Name" class="form-control required" disabled/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button id="SaveDepartment" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-pencil"></span> 保存</button></td>
                        </tr>
                    </table>
                }
            </div>

        </div>
    </div>
</div>


@* 部门/项目阶段权限关联 *@
<div class="modal" data-backdrop="static" data-keyboard="false" id="DepPhaseEdit" tabindex="-1" role="dialog" aria-labelledby="SupplierBrandLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <div class="modal-body" style="height:250px">
                <div class="modal_LMR_FatherDiv">
                    <div class="modal_LMR_LeftDiv">
                        <div class="modal_SelTitle">
                            <label>其它阶段:</label>
                        </div>
                        <div>
                            <select class="form-control modal_Sel" id="PhaseList" size="10"></select>
                            <input type="hidden" id="PhaseID" />
                        </div>
                    </div>
                    <div class="modal_LMR_MiddleDiv">
                        <div style="position:absolute;top:30%;left:20%;">
                            <button class="btn btn-primary" id="Add"> > </button>
                            <button class="btn btn-primary" id="Remove" style="margin-top:20px;"> < </button>
                        </div>
                        
                    </div>
                    <div class="modal_LMR_RightDiv">
                        <div class="modal_SelTitle">
                            <label>已添加阶段:</label>
                        </div>
                        <div>
                            <select class="form-control modal_Sel" id="DepPhaseList" size="10"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="SaveBrand" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> 保存</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Project.js"></script>
<script src="~/Scripts/Administrator.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ShowDepPhase").on("click", function () {
            var depId = $("#DepartmentList").val();
            if (depId != null) {
                LoadDepPhases(depId);
                $("#DepPhaseEdit").modal("show");
            } else {
                alert("请先选择一个部门");
            }
        })
    });
    function LoadDepPhases(depId) {
        $("#PhaseID").val(depId);
        $("#PhaseList option").remove();
        var _url = "/Administrator/JsonPhases?DepId=" + depId;
        $.ajax({
            type: "Get",
            url: _url,
            success: function (msg) {
                $.each(msg, function (i, n) {
                    $("#PhaseList").append($("<option/>", { value: n.PhaseID, text: n.Name }));
                })

                _url = "/Administrator/JsonDepPhaseList?DepId=" + depId;
                $("#DepPhaseList option").remove();
                $.ajax({
                    type: "Get",
                    url: _url,
                    success: function (msg) {
                        $.each(msg, function (i, n) {
                            $("#DepPhaseList").append($("<option/>", { value: n.PhaseID, text: n.Name }));
                            $("#PhaseList option[value=" + n.depId + "]").remove();
                        })
                    }
                })
            }
        })
    }
    $("#Add").on("click", function () {
        AddPhase();
    })

    $("#Remove").on("click", function () {
        RemovePhase();
    })
    $('#PhaseList').on('dblclick', function () {
        AddPhase();
    })
    $('#DepPhaseList').on('dblclick', function () {
        RemovePhase();
    })

    function AddPhase() {
        var _id = $("#PhaseList option:selected").val();
        var _text = $("#PhaseList option:selected").text();
        if (_text != "") {
            $("#PhaseList option:selected").remove();
            $("#DepPhaseList").append($("<option>", { value: _id, text: _text }));
        }

    }
    function RemovePhase() {
        var _id = $("#DepPhaseList option:selected").val();
        var _text = $("#DepPhaseList option:selected").text();
        if (_text != "") {
            $("#DepPhaseList option:selected").remove();
            $("#PhaseList").append($("<option>", { value: _id, text: _text }));
        }
    }
    function SavePhase() {
        var _PhaseIds = "";
        $("#DepPhaseList option").each(function () {
            _PhaseIds = _PhaseIds == "" ? this.value : _PhaseIds + "," + this.value;
        })
        var _url = "/Administrator/SaveDepPhases?DepId=" + $("#DepartmentList").val() + "&PhaseIds=" + _PhaseIds;
        $.ajax({
            type: "Get",
            url: _url,
            success: function () {
                //alert("保存成功")
                $('#Name').val('');
                $('#Name').attr('disabled', 'disabled');
                $("#DepPhaseEdit").modal("hide");
            }
        })

    }
    $("#SaveBrand").on("click", function () {
        SavePhase();
    })
</script>
