
@{
    ViewBag.Title = "加工设备管理";
}

<div style="margin-top:10px">
    <div class="col-sm-1 sidebar">
        <ul class="nav nav-sidebar">            
            <li><a href="/List">列表管理</a></li>
            <li><a href="/Administrator/TaskhourCost">工时费率管理</a></li>
            <li><a href="/Administrator/UserManagement">用户管理</a></li>
            @*<li><a href="/Administrator/EquipmentList">设备管理</a></li>
            <li><a href="/Administrator/Customer">客户信息</a></li>
            <li><a href="/Administrator/Warehouse">仓库信息</a></li>*@
        </ul>
    </div>
    <div class="col-sm-11 col-sm-offset-1">
        <h3 class="page-header">设备管理</h3>
        <div class="col-sm-5">
            <div class="panel panel-info" style="height:200px">
                <div class="panel-heading"><h3 class="panel-title">设备类型</h3></div>
                <div class="panel-body">

                    <div>
                        <nav class="navbar navbar-default">
                            <div class="navbar-collapse collapse">

                            </div>
                        </nav>
                        <select class="form-control" size="5" id="ListType"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="panel panel-info" style="height:200px">
                <div class="panel-heading"><h3 class="panel-title">设备名称</h3></div>
                <div class="panel-body">
                    
                    <div>
                        <select class="form-control" size="5" id="ListType"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="panel panel-info" style="height:400px">
                <div class="panel-heading"><h3 class="panel-title">设备信息</h3></div>
                <div class="panel-body">

                    <div>
                        
                    </div>
                </div>
            </div>
        </div>







    </div>
</div>


