
@{
    ViewBag.Title = "系统管理";
}

<h2>管理员入口</h2>
@*<div class="col-sm-2" >
    <div class="panel panel-primary" style=" text-align:center;">
        <div class="panel-heading"><h4>列表管理</h4></div>
        <div class="panel-body" style="align-content:center;">
            <a href="/Administrator/ListManagement"><img src="~/Images/List.png" class="img-responsive" style="margin:auto" /></a>
        </div>
    </div>
</div>*@
@*<div class="col-sm-2">
    <div class="panel panel-primary" style=" text-align:center;">
        <div class="panel-heading"><h4>工时费率管理</h4></div>
        <div class="panel-body" style="align-content:center;">
            <a href="/Administrator/TaskHourCost"><img src="~/Images/Money.png" class="img-responsive" style="margin:auto" /></a>
        </div>
    </div>
</div>*@

<div class="col-sm-2">
    <div class="panel panel-primary" style=" text-align:center;">
        <div class="panel-heading"><h4>用户管理</h4></div>
        <div class="panel-body" style="align-content:center;">
            <a href="/Administrator/UserManagement"><img src="~/Images/User.png" class="img-responsive" style="margin:auto" /></a>
        </div>
    </div>
</div>

<div class="col-sm-2">
    <div class="panel panel-primary" style=" text-align:center;">
        <div class="panel-heading"><h4>部门管理</h4></div>
        <div class="panel-body" style="align-content:center;">
            <a href="/Administrator/Department">
                <img src="~/Images/Departments.png" class="img-responsive" style="margin:auto" /> </a>
        </div>
    </div>
</div>

<div class="col-sm-2">
    <div class="panel panel-primary" style=" text-align:center;">
        <div class="panel-heading"><h4>设备管理</h4></div>
        <div class="panel-body" style="align-content:center;">
            <a href="/Administrator/EquipmentList"><img src="~/Images/EquipmentIcon.png" class="img-responsive" style="margin:auto;width:128px;height:128px;" /></a>
        </div>
    </div>
</div>

@*<div class="col-sm-2">
    <div class="panel panel-primary" style=" text-align:center;">
        <div class="panel-heading"><h4>客户信息</h4></div>
        <div class="panel-body" style="align-content:center;">
            <a href="/Administrator/Customer">
                <img src="~/Images/Customer.png" style="margin:auto" />
            </a>
        </div>
    </div>
</div>

<div class="col-sm-2">
    <div class="panel panel-primary" style=" text-align:center;">
        <div class="panel-heading"><h4>仓库信息</h4></div>
        <div class="panel-body" style="align-content:center;">
            <a href="/Administrator/Warehouse"><img src="~/Images/Warehouse.png" class="img-responsive" style="margin:auto" /></a>
        </div>
    </div>
</div>*@






