@{
    ViewBag.Title = "待收货零件清单";
}
@{
    string Department;
    try
    {
        Department = HttpUtility.UrlDecode(Request.Cookies["User"]["DepartmentName"]).ToString();
    }
    catch
    {
        Department = "";
    }
}

<div>
    <input type="hidden" id="MoldNumber" />
</div>

<h2 style="margin-top:60px">待收货零件清单</h2>
<div class="FatherDiv">
    <div class="LeftDiv">
        <button class="btn btn-primary LeftDiv_Btn" id="RefreshMold">刷新模号列表</button>
        <input type="text" id="Keyword" class="form-control LeftDiv_Inpt" placeholder="模具号关键字" />
        <select class="form-control LeftDiv_Sel" id="MoldSelect" size="20"></select>
    </div>
    <div class="RightDiv">
        <div class="RightDiv_TopDiv">
            <table>
                <tr>
                    <td>
                        <input type="text" class="form-control" id="ItemKeyword" placeholder="采购项 订单号/零件名/物料号/规格" style="width:500px;" />
                    </td>
                    <td>
                        <button class="btn btn-info" id="Query"><span class="glyphicon glyphicon-search"></span> 查询</button>
                    </td>
                    <td id="td_OrderAccept" hidden>
                        <button class="btn btn-success" id="OrderAccept"><span class="glyphicon glyphicon-plus"></span> 订单收货</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="RightDiv_BottomDiv">
            <table id="PurchaseItemGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/JqGridTemplate.js"></script>
<script src="~/Scripts/Warehouse.js"></script>
<script>
    $("document").ready(function () {

        LoadMoldNumber("", "")
        PurchaseItem("", "", 10);
        $("#PurchaseItemGrid").setGridParam().showHideCol("PurchaseOrder");
        $("#PurchaseItemGrid").setGridParam().showHideCol("ShipDate");
        $("#PurchaseItemGrid").setGridParam().showHideCol("PlanDate");
        $("#PurchaseItemGrid").setGridParam().showHideCol("InStockQty");

        $("#Keyword").on("keyup", function () {
            LoadMoldNumber($("#Keyword").val());
        })

        $("#MoldSelect").on("click", function () {

            $("#MoldNumber").val($("#MoldSelect option:selected").val());
            QueryPurchaseitem("", $("#MoldNumber").val());
        })

        $("#Query").on("click", function () {
            QueryPurchaseitem($("#ItemKeyword").val(), $("#MoldNumber").val());
        })
    })


    function LoadMoldNumber(Keyword) {
        var _url = "/Purchase/JsonMoldNumber?State=10";
        if (Keyword != "") {
            _url = _url + "&Keyword=" + Keyword;
        }
        $("#MoldSelect option").remove();
        $.ajaxSettings.async = false;
        $.getJSON(_url, function (msg) {
            $.each(msg, function (i, n) {
                $("#MoldSelect").append($("<option/>",{
                    value:n,
                    text:n
                }))
            })
        })
    }

    function QueryPurchaseitem(Keyword, MoldNumber) {
        var _url = "/Purchase/JsonPurchaseItems?MoldNumber=" + $("#MoldNumber").val() + "&Keyword=" + Keyword+"&State=10";
        $("#PurchaseItemGrid").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
    }


</script>
<script>
    $(document).ready(function () {

        $(window).resize(function () {
            $("#PurchaseItemGrid").setGridWidth($('.RightDiv_BottomDiv').eq(0).width());
            $("#PurchaseItemGrid").setGridHeight($('.RightDiv_BottomDiv').eq(0).height() - 40);
        });

        if ('@Department' == '仓库') {
            $('#td_OrderAccept').show();
        } else {
            $('#td_OrderAccept').hide();
        }

        $('#OrderAccept').on('click', function () {
            var selrowIDs = $('#PurchaseItemGrid').jqGrid('getGridParam', 'selarrrow');
            var _orderNum = '';
            var _purItemid = 0;
            if (selrowIDs.length == 0) {
                alert('请选择行！');
                return false;
            }
            for (var i = 0; i < selrowIDs.length; i++) {
                var rowData = $('#PurchaseItemGrid').getRowData(selrowIDs[i]);
                if (_orderNum == '') {
                    _orderNum = rowData.PurchaseOrder;
                    _purItemid = Number(rowData.ID);
                } else {
                    if (_orderNum != rowData.PurchaseOrder) {
                        alert('仅支持单张订单，请重新选择！');
                        return false;
                    }
                }
            }
            //$.get('/Purchase/Service_PO_GetPOByOrder?_purchaseOrder=' + _orderNum, function (res) {
            //    if (res.State == 3 || res.State == 4 || res.State == 10) {//发布 部分收货 外发项待出库
            //        location.href = "/Warehouse/POContentList?PurchaseOrderID=" + res.PurchaseOrderID;
            //    } else {
            //        alert('请先发布订单！');
            //        return false;
            //    }                
            //})
            $.get('/Purchase/Service_PurItem_GetByID?_purItemID=' + _purItemid, function (res) {
                if (res.State == 45 || res.State == 50 || res.State == 60) {//发布 部分收货 外发项待出库
                    location.href = "/Warehouse/POContentList?PurchaseOrderID=" + res.PurchaseOrderID;
                } else {
                    alert('请先发布订单！');
                    return false;
                }                
            })
        })
    })
</script>

