@using TechnikSys.MoldManager.Domain.Status;
@model TechnikSys.MoldManager.Domain.Entity.ReturnRequest
@{
    ViewBag.Title = "退货管理";
    int DeptID;string DepName = string.Empty;
    try
    {
        DeptID = Convert.ToInt32(Request.Cookies["User"]["Department"]);
        DepName = HttpUtility.UrlDecode(Request.Cookies["User"]["DepartmentName"]).ToString();
    }
    catch
    {
        DeptID = 0;
    }
}

<h2 style="margin-top:60px">退货单列表</h2>
<div class="UD_FatherDiv">
    <div class="UD_ToolBarDiv">
        <table>
            <tr>
                <td>
                    <select class="form-control" id="Status">
                        <option value="-1">新建</option>
                        <option value="0">待审批</option>
                        <option value="1">审批完成</option>
                        <option value="2">关闭</option>
                    </select>
                </td>
                <td>开始日期</td>
                <td><input type="date" class="form-control" id="StartDate" /></td>
                <td>结束日期</td>
                <td><input type="date" class="form-control" id="EndDate" /></td>
                <td><input type="text" id="Keyword" class="form-control" placeholder="退货项关键字" /></td>
                <td><button class="btn btn-info" id="FilterReturnRequests"><span class="glyphicon glyphicon-search"></span> 查询</button></td>
                <td id="td_CreateReturnRequest" hidden><button class="btn btn-success" id="CreateReturnRequest"><span class="glyphicon glyphicon-plus"></span> 创建</button></td>
            </tr>
        </table>
    </div>
    <div class="UD_TableDiv">
        <table id="ReturnRequestGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script>
    $("document").ready(function () {

        $(window).resize(function () {
            $("#ReturnRequestGrid").setGridWidth($('.UD_TableDiv').eq(0).width());
            $("#ReturnRequestGrid").setGridHeight($('.UD_TableDiv').eq(0).height() - 40);
        });

        if ('@DepName' == '仓库') {
            $('#td_CreateReturnRequest').show();
        } else {
            $('#td_CreateReturnRequest').hide();
        }

        ReturnRequestGrid($("#Status option:selected").val());

        $("#FilterReturnRequests").on("click", function () {
            FilterRequests();
        })

        $("#Status").on("change", function () {
            FilterRequests();
        })

        $("#CreateReturnRequest").on("click", function () {
            location.href = "/Warehouse/WHPOList";
        })
    })

    function LoadReturnRequestDetail(ID) {
        location.href="/Warehouse/ReturnRequestDetail?ReturnRequestID="+ID;
    }

    function FilterRequests() {
        var _url = "/Warehouse/JsonReturnRequests?State=" + $("#Status").val() +
            "&StartDate=" + $("#StartDate").val() +
            "&EndDate=" + $("#EndDate").val() +
            "&Keyword=" + $("#Keyword").val();
        $("#ReturnRequestGrid").jqGrid('setGridParam', { url: _url, datatype: "json" }).trigger("reloadGrid");
    }
</script>