@{
    ViewBag.Title = "仓库信息管理";
}
@{
    int DeptID = 0;
    string DepName = string.Empty;
    try
    {
        DeptID = Convert.ToInt16(Request.Cookies["User"]["Department"]);
        DepName = HttpUtility.UrlDecode(Request.Cookies["User"]["DepartmentName"]);
    }catch{
        DeptID=0;
    }
}

<div></div>
<div style="margin-top:60px;">
    <h2>@ViewBag.Title</h2>
</div>

<div class="LR_FatherDiv">
    <div class="LR_LeftDiv">
        <div class="LR_Left_ToolbarDiv">
            <table>
                @if ((DepName=="仓库"))
                {
                    <tr>
                        <td><button id="AddWarehouse" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> 新增仓库</button></td>
                        <td><button id="DelWarehouse" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 删除仓库</button></td>
                    </tr>
                }
            </table>
        </div>
        <div class="LR_Left_BodyDiv">
            <select id="WarehouseList" class="form-control LR_Body_Sel" size="20"></select>
        </div>
    </div>
    <div class="LR_RightDiv">
        <div class="LR_Right_ToolbarDiv">
            <table>
                @if ((DepName == "仓库"))
                {
                    <tr>
                        <td><button id="AddPosition" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> 新增库位</button></td>
                        <td><button id="DelPosition" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 删除库位</button></td>
                    </tr>
                }
            </table>
        </div>
        <div class="LR_Right_BodyDiv">
            <select id="WarehousePositionList" class="form-control LR_Body_Sel" size="20"></select>
        </div>
    </div>
</div>


<div class="modal" data-backdrop="static" data-keyboard="false" id="EditWarehouseDialog" tabindex="-1" role="dialog" aria-labelledby="EditWarehouseLable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="target" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="EditWarehouseLable">仓库信息</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditWarehouse", "Warehouse", FormMethod.Get, new { id = "WarehouseForm" }))
                {
                    <table class="table-striped">
                        <tr>
                            <td class="col-sm-2">仓库名称</td>
                            <td class="col-sm-4">
                                <input type="text" id="WHName" class="form-control required" name="Name" />
                                <input type="hidden" id="WHID" name="WarehouseID" />
                                <input type="hidden" id="WHEnabled" name="Enabled" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2">备注信息</td>
                            <td class="col-sm-4">
                                <input type="text" id="WHMemo" class="form-control required" name="Memo" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="SaveWarehouse" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" data-backdrop="static" data-keyboard="false" id="EditPositionDialog" tabindex="-1" role="dialog" aria-labelledby="EditPositionLable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="target" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="EditPositionLable">库位信息</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditPosition", "Warehouse", FormMethod.Get, new { id = "PositionForm" }))
                {
                    <table class="table-striped">
                        <tr>
                            <td class="col-sm-2">库位名称</td>
                            <td class="col-sm-4">
                                <input type="text" id="PName" class="form-control required" name="Name" />
                                <input type="hidden" id="PWarehouseID" name="WarehouseID" />
                                <input type="hidden" id="WarehousePositionID" name="WarehousePositionID" />
                                <input type="hidden" id="PEnabled" name="Enabled" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="SaveWarehousePosition" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("document").ready(function () {
        LoadWarehouses();

        $("#WarehouseList").on("click", function () {
            if ($("#WarehouseList").val() != null) {
                LoadWarehousePositions($("#WarehouseList").val())
            }
        })

        //double click to edit the warehouse information
        $("#WarehouseList").on("dblclick", function () {
            LoadWarehouse()
        })

        $("#WarehousePositionList").on("dblclick", function () {
            LoadPosition()
        })


        $("#AddWarehouse").on("click", function () {
            AddWarehouse();
        })

        $("#DelWarehouse").on("click", function () {
            if (confirm("确认删除仓库" + $("#WarehouseList option:selected").text()+"?")) {
                DelWarehouse();
            }
            
        })

        $("#AddPosition").on("click", function () {
            if ($("#WarehouseList").val() != null) {
                AddPosition();
            } else {
                alert("请先选择仓库");
            }
            
        })
        $("#DelPosition").on("click", function () {
            if (confirm("确认删除库位" + $("#WarehousePositionList option:selected").text() + "?")) {
                DelPosition();
            }
        })

        $("#SaveWarehouse").on("click", function () {

            SaveWarehouse();
        })

        $("#SaveWarehousePosition").on("click", function () {
            SavePosition();
        })


    })

    function LoadWarehouses() {
        var _url = "/Warehouse/JsonWarehouses";
        $("#WarehouseList option").remove();
        $.getJSON(_url, function (msg) {
            $.each(msg, function (i, n) {
                $("#WarehouseList").append($("<option/>", {
                    value: n.WarehouseID,
                    text:n.Name+"-"+n.Memo
                }))
            })
            $("#WarehouseList").attr("size", 20);
        })
    }

    function LoadWarehousePositions(WarehouseID) {
        var _url = "/Warehouse/JsonWarehousePositions?WarehouseID=" + WarehouseID;
        $("#WarehousePositionList option").remove();
        $.getJSON(_url, function (msg) {
            $.each(msg, function (i, n) {
                $("#WarehousePositionList").append($("<option/>", 
                {
                    value: n.WarehousePositionID,
                    text:n.Name
                }))
            })
            $("#WarehousePositionList").attr("size", 20);
        })
    }

    function LoadWarehouse() {
        var _warehouseID = $("#WarehouseList").val();
        if (_warehouseID != null) {
            var _url = "/Warehouse/JsonWarehouse?WarehouseID=" + _warehouseID;
            var _field = $("#NewWarehouseForm > #Name");
            $.getJSON(_url, function (msg) {
                $("#WHID").val(msg.WarehouseID);
                $("#WHName").val(msg.Name);
                $("#WHMemo").val(msg.Memo);
                $("#WHEnabled").val(msg.Enabled);
            })
            $("#EditWarehouseDialog").modal("show");
        }
    }

    function AddWarehouse() {
        $("#WHID").val("");
        $("#WHName").val("");
        $("#WHMemo").val("");
        $("#WHEnabled").val("true");
        $("#EditWarehouseDialog").modal("show");
    }

    function DelWarehouse() {
        var _warehouseID = $("#WarehouseList").val();
        if (_warehouseID != null) {
            var _url = "/Warehouse/DeleteWarehouse?WarehouseID=" + _warehouseID;
            $.ajax({
                url: _url,
                type: "Get",
                success: function (msg) {
                    if (msg == "") {
                        alert("仓库删除成功");
                    } else {
                        alert(msg);
                    }
                    LoadWarehouses();
                }
            })
        } else {
            alert("请选择要删除的仓库");
        }
        
    }

    function LoadPosition() {
        var _warehousePositionID = $("#WarehousePositionList").val();
        if (_warehousePositionID != null) {
            var _url = "/Warehouse/JsonWarehousePosition?WarehousePositionID=" + _warehousePositionID;
            $.getJSON(_url, function (msg) {
                $("#WarehousePositionID").val(msg.WarehousePositionID);
                $("#PWarehouseID").val(msg.WarehouseID);
                $("#PName").val(msg.Name);
                $("#PEnabled").val(msg.Enabled);
            })
            $("#EditPositionDialog").modal("show");
        }

    }

    function AddPosition() {
        $("#WarehousePositionID").val("");
        $("#PWarehouseID").val($("#WarehouseList").val());
        $("#PName").val("");
        $("#PEnabled").val("true");
        $("#EditPositionDialog").modal("show");
    }

    function DelPosition() {
        var _warehousePositionID = $("#WarehousePositionList").val();
        if (_warehousePositionID != null) {

        
            var _url = "/Warehouse/DeleteWarehousePosition?WarehousePositionID=" + _warehousePositionID;
            $.ajax({
                url: _url,
                type: "Get",
                success: function (msg) {
                    if (msg == "") {
                        alert("库位删除成功");
                    } else {
                        alert(msg);
                    }
                    LoadWarehousePositions($("#WarehouseList").val());
                }
            })
        }
    }

    function SaveWarehouse() {
        var _url = "/Warehouse/SaveWarehouse"
        $.ajax({
            url: _url,
            type: "Get",
            data: $("#WarehouseForm").serialize(),
            success: function (msg) {
                if (msg == "") {
                    LoadWarehouses();
                    alert("仓库信息保存成功");
                    
                    $("#EditWarehouseDialog").modal("hide");
                }
            }
        })
    }

    function SavePosition() {
        var _url = "/Warehouse/SaveWarehousePosition"
        $.ajax({
            url: _url,
            type: "Get",
            data: $("#PositionForm").serialize(),
            success: function (msg) {
                if (msg == "") {
                    var _whID = $("#WarehouseList").val();
                    LoadWarehousePositions($("#WarehouseList").val());
                    alert("库位信息保存成功");

                    $("#EditPositionDialog").modal("hide");
                }
            }
        })
    }
</script>
